[submodule "simplicity"]
	path = lib/simplicity
	url = git@github.com:simple-entertainment/simplicity.git
[submodule "simplicity-cef"]
	path = lib/simplicity-cef
	url = git@github.com:simple-entertainment/simplicity-cef.git
