/***************************************************
 * Global
 **************************************************/

body
{
	color: white;
	font-family: Ubuntu, sans-serif;
	margin: 0;
}

button
{
	background: none;
	border: solid transparent 0.2em;
	color: white;
	font-size: 1em;
	font-weight: bold;
	height: 2em;
	padding: 0em;
	width: 2em;
}

button img
{
	height: 1.5em;
}

button:active
{
	background-color: #666;
}

button:hover,
button.selected
{
	border: solid white 0.2em;
}

div
{
	background-color: #333;
}

span
{
	display: inline-block;
}

/***************************************************
 * Sections
 **************************************************/

.background
{
	z-index: -1;
}

.bottom
{
	bottom: 0;
	position: absolute;
	width: 100%;
}

.section
{
	display: none;
}

.top
{
	top: 0;
	position: absolute;
	width: 100%;
}

/***************************************************
 * Toolbar
 **************************************************/

#fps
{
	background-color: #333;
	font-size: 2.5em;
	padding: 0.1em;
}

#logo
{
	height: 1.5em;
	padding: 0.25em;
}

#toolbar
{
	background-color: transparent;
}

#toolbar > *
{
	vertical-align: top;
}

#toolbar-background
{
	height: 2em;
}

/***************************************************
 * Timers
 **************************************************/

#timerGraph
{
	padding: 5px;
}
