/***************************************************
 * Global
 **************************************************/

body
{
	color: white;
	display: flex;
	flex-direction: column;
	font-family: Ubuntu, sans-serif;
	margin: 0;
}

body div
{
	width: 100%;
}

button
{
	background-color: #333;
	border: solid transparent 0.2em;
	color: white;
	font-size: 1em;
	font-weight: bold;
	height: 2em;
	padding: 0;
	width: 2em;
}

button img
{
	height: 1.5em;
}

button:active
{
	background-color: #666;
}

button:hover,
button.selected
{
	border: solid white 0.2em;
}

div
{
	background-color: #333;
}

h1,
h2
{
	font-weight: bold;
	margin: 0;
}

h1
{
	font-size: 1.25em;
}

h2
{
	font-size: 1em;
}

span
{
	display: inline-block;
}

.background
{
	z-index: -1;
}

/***************************************************
 * Sections
 **************************************************/

#entities > div
{
	padding: 5px;
}

#middle
{
	background-color: transparent;
	flex-grow: 1;
	position: relative;
	width: 100%;
}

#middle .section
{
	bottom: 0;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	width: 20%;
}

#middle .left
{
	left: 0;
}

#middle .right
{
	right: 0;
}

.section
{
	display: none;
}

/***************************************************
 * Toolbar
 **************************************************/

#fps
{
	background-color: #333;
	font-size: 2.5em;
	padding: 0.1em;
}

#logo
{
	height: 1.5em;
	padding: 0.25em;
}

#toolbar
{
	background-color: transparent;
	height: 2em;
	text-align: center;
}

#toolbar *
{
	vertical-align: top;
}

#toolbar-background
{
	height: 2em;
	position: absolute;
	width: 100%;
}

#toolbar :first-child
{
	float: left;
}

#toolbar :last-child
{
	float: right;
}

/***************************************************
 * Timers
 **************************************************/

#timerGraph
{
	padding: 5px;
}
